.App {
  text-align: center;
}

.Main {
  align-items: start;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/*
 .Button {
  margin-top: 40px;
  position: fixed;
  top: 10px;
  right: 20px;
  padding: 15px 32px;
  color: White;
  background-color: Black;
}
*/

.Button {
  background-color: #000000;
  /* float: right; */
  border: none;
  border-radius: 24px;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  transition: 0.35s;
}

div.filterbox {
  width: 30%;
  height: 30%;
  border: 2px solid #ffffff;
  /* padding-right: 15%; */
  position: absolute;
  right:3%;
  text-align: left;
  top: 10%;
}


.Button:hover {
  background-color:#3d3f43;
  transition: 0.35s;
}

.Button:active {
  transform: scale(0.95);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

div.FilteringHeaders {
  background-color: #a20303;
  /* height: 1%; */
  margin-bottom: 10%;
}

.NavBarButtons {
  padding-top: 50px;
  float: right;
  font-weight: 600;
}

.ButtonLogin {
  background-color: #ffffff;
  /* float: right; */
  border: 2px solid #a20303;
  border-radius: 24px;
  color: #a20303;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  transition: 0.35s;
}

.ButtonLogin:hover {
  background-color:#a20303;
  color: #ffffff;
  transition: 0.35s;
}

.ButtonLogin:active {
  transform: scale(0.95);
  box-shadow: 3px 2px 22px 1px rgba(230, 29, 29, 0.202);
}


.ButtonReset {
  background-color: #ffffff;
  float: right;
  border: 2px solid #a20303;
  border-radius: 24px;
  color: #a20303;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  transition: 0.35s;
}

.ButtonReset:hover {
  background-color:#a20303;
  color: #ffffff;
  transition: 0.35s;
}

.ButtonReset:active {
  transform: scale(0.95);
  box-shadow: 3px 2px 22px 1px rgba(230, 29, 29, 0.202);
}

#PageTitle {
  text-align: left;
  display: inline-block;
  color: white;
  margin: 10px;
}

.LoginAlign {
  text-align:center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #e7d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #a20303;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #a20303;
  cursor: pointer;
}


/* EXPIREMENTAL CODE BELOW BE CAREFUL */


/* CHECKBOX CODE IS BELOW */
.container {
  width: 50%;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ffe7e7;
}

/* When the checkbox is checked, add a reds background */
.container input:checked ~ .checkmark {
  background-color: #a20303;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* BELOW IS THE CODE FOR THE RADIO BUTTONS */

/* Customize the label (the container) */
.containerRADIO {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.containerRADIO input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.containerRADIO:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerRADIO input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerRADIO input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.containerRADIO .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}



/* END OF EXPIREMENTAL BS */

/* Below is the code for the weapons dropdown button */
.dropbtn {
  background-color: #ccc;
  width: 100%;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
}

.dropdown {
  position: relative;
  width: 50%;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #a20303;}

/* End of Weapons dropdown button */