.App {
  text-align: center;
}

.Map {
  margin: auto;
  width: 600px;
  height: 600px;
  background-image: url('../public/Italy.png');
}

.Button {
  margin-top: 100px;
  border-radius: 50%;
  padding: 5px;
  color: red;
  background-color: Red;
}

#jD1 {
  margin-left: 70px;
}

#jD3 {
  margin-left: 320px;
}

.DataInfo {
  margin: auto;
  height: 70px;
  width: 594px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  text-align: left;
}

.InfoBar {
  margin-top: 0px;
}