/*This file is maily for the Mapbox code itslef and the formattinf on the main page.*/
.map-container {
  position: absolute;
  top: 12%;
  bottom: 0;
  
  margin: auto;
  height: 93%; 
  width: 65%;
  }

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

table, tr, td {
  border:1px solid black;
  border-width: 1px !important;
}

#menu {
background: #fff;
position: absolute;
z-index: 1;
/* right: 10px; */
border-radius: 3px;
/* width: 120px; */
border: 1px solid rgba(0, 0, 0, 0.4);
font-family: 'Open Sans', sans-serif;
}

/*Menus is mainly used for the search and other interactive aspects of the Mapbox
map itslef. Most of this is from examples from the mapbox site itself and should
work without issue. In all, not much is needed to edit unless you want a custom
look for the map itself.*/
#menu a {
font-size: 20px;
color: #404040;
display: block;
margin: 0;
padding: 0;
width: 100%;
text-decoration: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.25);
text-align: center;
}
 
#menu a:last-child {
border: none;
}
 
#menu a:hover {
background-color: #f8f8f8;
color: #404040;
}
 
#menu a.active {
  background-color: #f8f8f8;
  color: #404040;
}
 
#menu a.active:hover {
background: #a20303;
color: #ffffff;
}

#menu a.active.clicked {
  background-color: #a20303;
  color:  #ffffff;
}

/*Below is futher formatting for the map. Again, refer to https://docs.mapbox.com/mapbox-gl-js/example/ to see
any major examples for the mapbox map. Is also useful for expansion of the map for further research functionality*/

.vertical {
  border-left: 3px solid #a20303;
  height: 10px;
}
.timeline {
  display: flex;
  display:inline;
}
